:root {
  --colour-background: hsl(48, 14%, 93%);
  --colour-text: hsl(60, 3%, 12%);
  --colour-text-light: hsl(60, 3%, 20%);
  --colour-accent-soft: hsl(340, 20%, 70%);
  --colour-accent-bold: hsl(340, 50%, 45%);
  --colour-navbar-background: hsl(48, 14%, 93%, 0.8);

  --width-min: 320px;
  --width-max: 1800px;

  --padding-x: clamp(2rem, 3vw, 4rem);
  --padding-y: clamp(2rem, 3vw, 4rem);

  --border-radius: 0.5rem;
  --border-width: 0.1rem;
  --border-style: solid;
  --border-color: var(--colour-text-light);
  --border: var(--border-width) var(--border-style) var(--border-color);

  --shadow: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.2);
  --shadow-hover: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.3);
  --shadow-active: 0 0.5rem 1rem hsla(0, 0%, 0%, 0.4);

  --transition: all 0.2s ease-in-out;

  --font-family: "Work Sans", sans-serif;

  --font-size-small: clamp(1.25rem, 2vw, 2rem);
  --font-size-med: clamp(1.5rem, 2.5vw, 3rem);
  --font-size-large: clamp(2rem, 3vw, 4rem);
  --font-size-xlarge: clamp(3rem, 4vw, 5rem);
  --font-size-xxlarge: clamp(4rem, 5vw, 6rem);
  --font-size-hero: clamp(5.5rem, 10vw, 10rem);

  --font-weight-light: 300;
  --font-weight-reg: 400;
  --font-weight-medium: 500;

  --font-hero: var(--font-weight-medium) var(--font-size-hero)
    var(--font-family);

  /* links font */
  --font-links-desktop: var(--font-weight-medium) var(--font-size-large)
    var(--font-family);
  --font-links-mobile: var(--font-weight-medium) var(--font-size-xlarge)
    var(--font-family);

  /* title font */
  --font-title-desktop: var(--font-weight-medium) var(--font-size-xxlarge)
    var(--font-family);
  --font-title-mobile: var(--font-weight-medium) var(--font-size-xxlarge)
    var(--font-family);

  /* subtitle font */
  --font-subtitle-desktop: var(--font-weight-reg) var(--font-size-large)
    var(--font-family);
  --font-subtitle-mobile: var(--font-weight-reg) var(--font-size-xlarge)
    var(--font-family);

  /* skills font */
  --font-skills-desktop: var(--font-weight-reg) var(--font-size-med)
    var(--font-family);
  --font-skills-mobile: var(--font-weight-reg) var(--font-size-large)
    var(--font-family);

  /* description font */
  --font-description-desktop: var(--font-weight-reg) var(--font-size-small)
    var(--font-family);
  --font-description-mobile: var(--font-weight-reg) var(--font-size-large)
    var(--font-family);

  --iconSquare-width: clamp(0.75rem, 2vw, 3rem);
  --iconSquare-height: clamp(0.75rem, 2vw, 3rem);
  --iconSquare--boxShadow: clamp(0.1rem, 0.5vw, 0.4rem)
    clamp(0.1rem, 0.5vw, 0.4rem) clamp(0.05rem, 0.2vw, 0.1rem)
    rgba(0, 0, 0, 0.5);

  --iconsTech-width-desktop: clamp(1.5rem, 3.5vw, 3.5rem);
  --iconsTech-height-desktop: clamp(1.5rem, 3.5vw, 3.5rem);

  --line-height: 1.5;

  --letter-spacing: clamp(0.1rem, 0.2vw, 0.2rem);

  --text-align: left;
  --text-transform: none;
  --text-decoration: none;
  --text-decoration-color: hsl(60, 3%, 12%);
  --text-decoration-style: solid;
  --text-decoration-thickness: 0.1rem;
  --text-decoration: var(--text-decoration-style)
    var(--text-decoration-thickness) var(--text-decoration-color);

  --text: var(--font) var(--line-height) var(--letter-spacing) var(--text-align)
    var(--text-transform) var(--text-decoration);

  --z-index: 1;

  --spacing-plus: clamp(2rem, 4vw, 5rem);
  --spacing-minus: max(-5vw, -7rem);
  /* --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-s: 1.5rem;
  --spacing-m: 2rem;
  --spacing-l: 3rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 5rem;
  --spacing-xxxl: 6rem; */
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--font-family);
  color: var(--colour-text);
  line-height: var(--line-height);
  text-align: var(--text-align);
  text-transform: var(--text-transform);
  text-decoration: var(--text-decoration);
  text-decoration-color: var(--text-decoration-color);
  text-decoration-style: var(--text-decoration-style);
  text-decoration-thickness: var(--text-decoration-thickness);
  background-color: var(--colour-background);
}
li {
  list-style: none;
}
a {
  text-decoration: var(--text-decoration);
  color: inherit;
}
a:hover {
  text-decoration: var(--text-decoration);
  color: var(--colour-accent-bold);
}

@font-face {
  font-family: "Work Sans";
  src: url("../src/assets/fonts/WorkSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../src/assets/fonts/WorkSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../src/assets/fonts/WorkSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(5rem, 7vw, 10rem);
  transition: transform 0.382s ease-in-out;
}

.header--hidden {
  transform: translateY(-100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-x);
  background: var(--colour-navbar-background);
}

.navbar__logo {
  font: var(--font-hero);
  color: var(--colour-text);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: var(--spacing-plus);
  width: 62%;
  margin-left: auto;
  outline: 1px solid gainsboro;
}
.navbar__links a {
  font: var(--font-links-desktop);
  color: var(--colour-text);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
.navbar__links a:hover {
  color: var(--colour-accent-bold);
}

/* main */
.main {
  padding: var(--padding-y) var(--padding-x);
  margin-top: clamp(5rem, 7vw, 10rem);
}

.section__home {
  height: clamp(calc(100vh - 10rem), 90vh, calc(100vh - 15rem));
}

.section__home__top {
  height: 38%;
}

.section__home__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 62%;
}

.section__home__intro {
  font: var(--font-description-desktop);
  font-size: clamp(1.6rem, 2vw, 3rem);
  margin-bottom: var(--spacing-minus);
  color: var(--colour-text-light);
}

.section__home__name {
  font: var(--font-hero);
  line-height: 0.69;
  width: 100%;
  border-bottom: 1px solid var(--colour-text);
}

.section__home__desc {
  font: var(--font-subtitle-desktop);
  margin-top: var(--spacing-minus);
  color: var(--colour-text-light);
}

/* about skills container */
.section__aboutSkills__container {
  display: grid;
  grid-template-columns: 38% 62%;
  grid-template-rows: 1fr;
  grid-template-areas: "about skills";
}

/* about */
.section__about {
  grid-area: about;
  width: 100%;
}

.section__about__title {
  font: var(--font-title-desktop);
  letter-spacing: var(--letter-spacing);
  text-align: end;
  width: 100%;
  margin-left: auto;
}

.section__about__desc__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__about__desc__text {
  font: var(--font-description-desktop);
  line-height: var(--line-height);
  color: var(--colour-text-light);
}

.section__about__articleLink {
  color: var(--colour-accent-soft);
}

/* skills */
.section__skills {
  padding-top: var(--spacing-plus);
  grid-area: skills;
  width: 100%;
}

.section__skills__title {
  font: var(--font-title-desktop);
  letter-spacing: var(--letter-spacing);
  text-align: start;
  width: 62%;
  margin-left: auto;
}

.section__skills__container {
  padding-top: var(--spacing-plus);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.section__skills__skill {
  display: grid;
  grid-template-columns: 38% 62%;
  grid-template-areas: "name icons";
  grid-template-rows: repeat(auto, 1fr);
  width: 100%;
}

.section__skills__skillName {
  grid-area: name;
  font: var(--font-skills-desktop);
  text-align: end;
  padding-right: var(--spacing-plus);
  color: var(--colour-text-light);
  border-right: 1px solid var(--colour-accent-bold);
}

.section__skills__icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px var(--spacing-plus);
}

.section__skills__icon--filled {
  width: var(--iconSquare-width);
  height: var(--iconSquare-height);
  background: var(--colour-accent-soft);
  box-shadow: var(--iconSquare--boxShadow);
}

.section__skills__icon--empty {
  width: var(--iconSquare-width);
  height: var(--iconSquare-height);
  background: var(--colour-background);
  border: 1px solid var(--colour-accent-soft);
  box-shadow: var(--iconSquare--boxShadow);
}

/* projects */
.section__projects {
  width: 100%;
  padding-top: var(--spacing-plus);
}

.section__projects__title {
  font: var(--font-title-desktop);
  letter-spacing: var(--letter-spacing);
  text-align: start;
  width: 62%;
  margin-left: auto;
}

.section__projects__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: var(--spacing-plus);
  padding-top: var(--spacing-plus);
  color: var(--colour-text-light);
}

.section__projects__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: clamp(30rem, 38vh, 40rem); */
  /* background: var(--colour-background); */
  /* box-shadow: var(--card--boxShadow); */
  /* border-radius: var(--card--borderRadius); */
  /* padding: var(--spacing-plus); */
  width: 100%;
}

.section__projects__card__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section__projects__card__top__title {
  font: var(--font-title-desktop);
  text-align: start;
  width: 62%;
  margin-left: auto;
}

.section__projects__card__top__img {
  width: 100%;
}

.section__projects__card__top__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

/* bottom */
.section__projects__card__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section__projects__card__bottom__desc {
  font: var(--font-description-desktop);
  line-height: var(--line-height);
  font-size: var(--font-size-med);
}

.section__projects__card__bottom_icons {
  width: 38%;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: clamp(0.25rem, 1vw, 0.35rem);
}

/* icons */
.icons {
  width: var(--iconsTech-width-desktop);
  height: var(--iconsTech-height-desktop);
}

/*  */
/*  */
/*  */
/*  */

@media screen and (max-width: 768px) {
  /* mobile menu modal */
  .modal__container {
    position: fixed;
    top: clamp(4rem, 8vh, 8rem);
    right: 0;
    width: 62%;
    height: 38%;
    background-color: var(--colour-background);
    z-index: var(--z-index);
    /* display: none; */
    outline: 1px solid green;
    justify-content: center;
    align-items: center;
  }

  .modal__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 var(--padding-x);
    outline: 1px solid blue;
  }

  .modal__link {
    font: var(--font-links-mobile);
    text-align: start;
    padding: var(--spacing-plus) 0;
    color: var(--colour-text-light);
    text-decoration: none;
    width: 62%;
    margin-left: auto;
    outline: 1px solid red;
  }

  /* navbar */
  .navbar {
    outline: 1px solid gray;
    /* height: clamp(4rem, 8vh, 8rem); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* slightly opaque overlay */
    background: var(--colour-navbar-background);
  }

  .navbar__links {
    display: none;
  }

  /* navbar burger */
  .navbar__burger {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    outline: 1px solid magenta;
  }

  .navbar__burger:hover {
    cursor: pointer;
  }

  .navbar__burger__line {
    width: 100%;
    height: 0.4rem;
    border-radius: var(--border-radius);
    background: var(--colour-text-light);
    margin: 0.6rem 0;
  }

  /* navbar burger '⛌' */
  .navbar__burger__x {
    font-size: var(--font-size-xxlarge);
    color: var(--colour-text-light);
    padding-bottom: 0.25rem;
  }

  /* home section */
  .section__home__intro {
    font: var(--font-subtitle-mobile);
    font-size: clamp(1.6rem, 2vw, 3rem);
    margin-bottom: var(--spacing-minus);
  }

  .section__home__name {
    font: var(--font-hero);
    line-height: 0.69;
    width: 100%;
    border-bottom: 1px solid var(--colour-text);
  }

  .section__home__desc {
    font: var(--font-description-mobile);
    margin-top: var(--spacing-minus);
  }

  .section__aboutSkills__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* about section */
  .section__about {
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
  }

  .section__about__title {
    font: var(--font-title-mobile);
    /* margin-bottom: var(--spacing-minus); */
    letter-spacing: var(--letter-spacing);
    width: 62%;
    margin-left: auto;
    text-align: start;
  }

  .section__about__desc__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section__about__desc__text {
    font: var(--font-description-mobile);
    line-height: var(--line-height);
  }

  .section__about__articleLink {
    color: var(--colour-accent-soft);
  }

  /* skills section*/
  .section__skills {
    /* padding-top: var(--padding-y);
    padding-bottom: var(--padding-y); */
  }

  .section__skills__title {
    font: var(--font-title-mobile);
    letter-spacing: var(--letter-spacing);
    width: 62%;
    margin-left: auto;
    text-align: start;
    padding-bottom: var(--spacing-plus);
  }

  .section__skills__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: var(--spacing-plus);
  }

  .section__skills__skill {
    display: grid;
    grid-template-columns: 38% 62%;
    grid-template-areas: "name icons";
    grid-template-rows: repeat(auto, 1fr);
    font: var(--font-skills-mobile);
    width: 100%;
  }

  .section__skills__skillName {
    grid-area: name;
    font: var(--font-reg);
    text-align: end;
    padding-right: var(--spacing-plus);
    border-right: 1px solid var(--colour-accent-bold);
  }

  .section__skills__icons {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: clamp(0.5rem, 1vw, 0.75rem);
  }

  .section__skills__icon--filled {
    width: var(--iconSquare-width);
    height: var(--iconSquare-height);
    background: var(--colour-accent-soft);
    box-shadow: var(--iconSquare--boxShadow);
  }

  .section__skills__icon--empty {
    width: var(--iconSquare-width);
    height: var(--iconSquare-height);
    background: var(--colour-background);
    border: 1px solid var(--colour-accent-soft);
    box-shadow: var(--iconSquare--boxShadow);
  }

  /* projects section */
  .section__projects__container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* height: 100%; */
    /* outline: 1px solid red; */
  }

  .section__projects__title {
    font: var(--font-title-mobile);
    letter-spacing: var(--letter-spacing);
    width: 62%;
    margin-left: auto;
    text-align: start;
  }

  .section__projects__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: var(--border);
    /* padding: var(--spacing-plus) 0; */
  }

  .section__projects__card__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section__projects__card__top__title {
    width: 62%;
    margin-left: auto;
    text-align: start;
    font: var(--font-subtitle-mobile);
  }

  .section__projects__card__top__img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }
  .section__projects__card__top__img img {
    width: 100%;
    border-radius: var(--border-radius);
  }

  .section__projects__card__bottom {
    padding-top: var(--spacing-plus);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section__projects__card__bottom__desc {
    font: var(--font-description-mobile);
    line-height: var(--line-height);
  }

  .section__projects__card__bottom_icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: clamp(0.5rem, 2vw, 2rem);
    align-items: center;
    width: 38%;
    margin-right: auto;
    padding-bottom: var(--spacing-plus);
  }
}

@media screen and (min-width: 1024px) {
  .section__about__desc__text {
    font-size: var(--font-size-small);
  }
}

@media screen and (min-width: 1440px) {
  .section__about__title {
    text-align: start;
    width: 62%;
    margin-left: auto;
  }

  .section__about__desc__text {
    font-size: var(--font-size-med);
  }
}
